<ul class="pagination" style="margin: 20px auto; flex-wrap: wrap">
<% if(posts.page - 1) { %>
	<li class="page-item my-1"><a class="page-link" href="<%= paginateUrl %><%= posts.page - 1 %>">Prev</a></li>
<% } %>
<% if (posts.pages > 1 && posts.docs.length) { %>
<% for(let i = 1; i <= posts.pages; i++) { %>
	<li class="page-item my-1"><a class="page-link" href="<%= paginateUrl %><%= i %>"
		 <%= i === posts.page ? 'style=color:#000;' : '' %>
		><%= i %></a></li>
<% } %>
<% } %>
<% if((posts.page + 1) <= posts.pages) { %>
	<li class="page-item my-1"><a class="page-link" href="<%= paginateUrl %><%= posts.page + 1 %>">Next</a></li>
<% } %>
</ul>
