<form action="/posts" method="GET">
	<fieldset>
		<legend>Search</legend>
		<label for="search">Search</label>
		<input type="text" placeholder="Search" name="search" id="seach" value="<%= query.search %>">
	</fieldset>

	<fieldset>
	<div>
  	<label for="location">Location</label>
  	<input type="text" id="location" name="location" placeholder="Address or Zipcode" value="<%= query.location %>">
  	<small><a href="#" id="use-my-location">use my location</a></small>
  </div>
		<legend>Distance (miles)</legend>
  	<div>
	    <input type="radio" name="distance" id="distance25" value="25" <%= query.distance === '25' ? 'checked' : '' %>>
  	  <label for="distance25">25</label>
  	</div>
  	<div>
	    <input type="radio" name="distance" id="distance50" value="50" <%= query.distance === '50' ? 'checked' : '' %>>
  	  <label for="distance50">50</label>
  	</div>
  	<div>
	    <input type="radio" name="distance" id="distance100" value="100" <%= query.distance === '100' ? 'checked' : '' %>>
		  <label for="distance100">100</label>
  	</div>
  	<div>
  		<a href="#" id="clear-distance">clear</a>
  	</div>
	</fieldset>

	<fieldset>
		<legend>Price</legend>
		<label for="min">Min</label>
		<input type="number" id="min" name="price[min]" min="0" max="10000" step="1" placeholder="Min" value="<%= query.price.min %>">

		<label for="max">Max</label>
		<input type="number" id="max" name="price[max]" min="0" max="10000" step="1" step="1" placeholder="Max" value="<%= query.price.max %>">
	</fieldset>

	<fieldset>
		<legend>Rating</legend>
		<input type="checkbox" id="zero-stars" name="avgRating[]" value="0" <%= query.avgRating.includes('0') ? 'checked' : '' %>>
		<label for="zero-stars">0 stars</label><br>
		<input type="checkbox" id="one-star" name="avgRating[]" value="1" <%= query.avgRating.includes('1') ? 'checked' : '' %>>
		<label for="one-star">1 star</label><br>
		<input type="checkbox" id="two-stars" name="avgRating[]" value="2" <%= query.avgRating.includes('2') ? 'checked' : '' %>>
		<label for="two-stars">2 stars</label><br>
		<input type="checkbox" id="three-stars" name="avgRating[]" value="3" <%= query.avgRating.includes('3') ? 'checked' : '' %>>
		<label for="three-stars">3 stars</label><br>
		<input type="checkbox" id="four-stars" name="avgRating[]" value="4" <%= query.avgRating.includes('4') ? 'checked' : '' %>>
		<label for="four-stars">4 stars</label><br>
		<input type="checkbox" id="five-stars" name="avgRating[]" value="5" <%= query.avgRating.includes('5') ? 'checked' : '' %>>
		<label for="five-stars">5 stars</label>
	</fieldset>
	<div>
		<a href="/posts">clear all</a>
	</div>
	
	<input type="submit">
</form>