<% layout('layouts/postsIndex') -%>

<div class="container-fluid p-5">
	<div class="row">
		<div class="col-md-12">
			<h1>Posts Index!</h1>
		</div>
		<div class="col-4">
			<% include ../partials/searchFilter %>
		</div>
		<div class="col-8">
			<div id="map"></div>
		</div>
	</div>

	<% include ../partials/paginatePosts %>

	<% posts.docs.forEach(function(post) { %>
		<div>
			<h2><%= post.title %></h2>
			<div>Price: <%= post.price %></div>
			<div><%= post.description %></div>
			<div><%= post.location %></div>
			<div><a href="/posts/<%= post.id %>">View more</a></div>
		</div>
	<% }); %>

	<% include ../partials/paginatePosts %>

</div> <!-- /.container-fluid -->

<script>
	mapboxgl.accessToken = "<%= mapBoxToken %>";
	var posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>