<% layout('layouts/postsIndex') -%>
<% include ../partials/flash-messages %>
<div class="container-fluid px-4 py-3 px-lg-5">
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div id="map"></div>
      </div>
      <div class="col-md-8">
         <% include ../partials/searchFilter %>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-md-8">
         <% include ../partials/paginatePosts %>
         <% posts.docs.forEach(function(post) { %>
         <div class="post-item my-3">
            <h4><%= post.title %></h4>
            <p class="mb-1">Price: <%= post.price %></p>
            <p class="mb-1"><%= post.description %></p>
            <p class="mb-1"><%= post.location %></p>
            <p class="mb-1"><a href="/posts/<%= post.id %>">View more</a></p>
         </div>
         <hr>
         <% }); %>
         <% include ../partials/paginatePosts %>
      </div>
   </div>
</div>
<!-- /.container-fluid -->
<script>
   mapboxgl.accessToken = "<%= mapBoxToken %>";
   var posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>