<% layout('layouts/post-show-layout') -%>
<h1><%= post.title %></h1>
<div>Price: <%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div>
	<% post.images.forEach(function(image) { %>
	<img src="<%= image.url %>" alt="Surf board image" width="200px">
	<% }); %>
</div>
<div id='map'></div>
<div>
	<a href="/posts/<%= post.id %>/edit">
		<button>Edit</button>
	</a>
</div>
<div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
		<input type="submit" value="Delete">
	</form>
</div>


<h2>Create a Review</h2>
<form action="/posts/<%= post.id %>/reviews" method="POST">
	<textarea name="review[body]" required></textarea>
	<input type="number" name="review[rating]" min="1" max="5" step="1" required>

	<input type="submit">
</form>

<h3>Reviews</h3>
<!-- display all reviews -->
<% post.reviews.forEach(function(review) { %>
	<div>
		Author: <%= review.author.username %><br>
		<%= review.body %><br>
		Rating: <%= review.rating %>
	</div>
	<hr>
<% }); %>








